@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
:root {
    --clr-1: #21BF73;
    --clr-2: #A7D82E;
    --clr-3: #A7CD78;
    --clr-4: #DA1212;
    --clr-5: #FFFFFF;
    --aspect-ratio: 16 / 9;
    --border-radius: 5px;
    --box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 3px;
}
/* general styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
body {
    background-color: #F3F5D5;
    padding: 6px;
    min-width: 100vw;
    min-height: 100vh;
}
.bg-1 {
    background-color: var(--clr-1);
}
.bg-2 {
    background-color: var(--clr-2);
}
.bg-3 {
    background-color: var(--clr-3);
}
button:hover, button:focus {
    background-color: var(--clr-4);
}
header {
    color: var(--clr-4);
    font-size: 2rem;
    text-align: center;
}
/* styles the main container i.e. calendar  */
#calendar-grid {
    display: grid;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    gap: 6px;
}
#calendar-grid > * {
    border-radius: var(--border-radius);
}
/* styles the day tiles */
.day {
    position: relative;
    aspect-ratio: var(--aspect-ratio);
    width: 100%;
    overflow: hidden;
    box-shadow: var(--box-shadow);
}
.overlay, .media {
    position: absolute;
}
.media {
    right: 0;
    bottom: 0;
    width: 95%;
    height: 100%;
}
.overlay {
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: var(--clr-5);
    font-size: 3rem;
    z-index: 99;
    border: none;
    transform: scaleX(1);
    transition: all 300ms;
    transform-origin: left;
}
.overlay.revealed {
    transform: scaleX(0.05);
    color: transparent;
}
.media {
    visibility: hidden;
}
.media img, .media video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.overlay.revealed + .media {
    visibility: visible;
}
/* styles the input tile */
form {
    display: flex;
    padding: 6px;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    overflow: hidden;
    gap: 6px;
    box-shadow: var(--box-shadow);
}
input[type="date"]{
    border: none;
    border-radius: var(--border-radius);
    padding: 4px 8px;
}
form, input[type="date"]{
    font-size: 1.2rem;
}
/* styles the reset button tile */
.reset-btn {
    aspect-ratio: var(--aspect-ratio);
    color: #ffffff;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    box-shadow: var(--box-shadow);
}
/* styles the modal (created with js when there's an error) */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 999;
    display: grid;
    place-items: center;
}
.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    font-size: 2rem;
    background-color: var(--clr-5);
    padding: 6px;
    width: 500px;
    height: 300px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}
.modal-content-text {
    color: var(--clr-4);
}
.modal-content-button {
    border: none;
    background-color: var(--clr-1);
    color: var(--clr-5);
    padding: 4px 16px;
    width: 100px;
    cursor: pointer;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    font-size: 1.5rem;
}
@media all and (max-width: 768px) {
    header {
        font-size: 1.5rem;
    }
    .modal-content {
        width: 300px;
        height: 150px;
        font-size: 1.5rem;
    }
    .modal-content-button {
        font-size: 1rem;
    }
}
@media all and (max-width: 450px) {
    header {
        font-size: 1rem;
    }
    .modal-content {
        width: 250px;
        height: 100px;
        font-size: 1rem;
    }
    .modal-content-button {
        font-size: 0.75rem;
    }
}